<mat-card class="mat-card-wrapper container-fluid">
  <mat-card-title class="text-center" i18n>Add New Address</mat-card-title>
  <form
    [formGroup]="addressFormGroup"
    (ngSubmit)="createNewAddress()"
    class="address-form-wrapper"
  >
    <mat-card-content class="d-flex flex-column">
      <mat-form-field>
        <label for="name"></label>
        <input
          matInput
          type="text"
          placeholder="Full Name"
          formControlName="name"
          id="name"
          aria-label="Enter name"
        />

        <mat-error *ngIf="hasError('name', 'required')" i18n
          >Name is required</mat-error
        >
      </mat-form-field>

      <mat-form-field>
        <label for="zipCode"></label>
        <input
          matInput
          type="text"
          placeholder="Zip Code"
          formControlName="zipCode"
          id="zipCode"
          aria-label="Enter zip code"
        />

        <mat-error *ngIf="hasError('zipCode', 'required')" i18n
          >Zip Code is required</mat-error
        >
        <mat-error *ngIf="hasError('zipCode', 'maxLength')" i18n
          >Should only be 5 characters</mat-error
        >
        <mat-error *ngIf="hasError('zipCode', 'pattern')" i18n
          >Incorrect formatting</mat-error
        >
      </mat-form-field>

      <mat-form-field>
        <mat-label>Select Country</mat-label>
        <mat-select formControlName="country" aria-label="select country">
          <mat-option *ngFor="let country of countries" [value]="country">
            {{ country.country }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="hasError('country', 'required')" i18n
          >Country is required</mat-error
        >
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions>
      <button
        i18n
        mat-raised-button
        color="primary"
        type="submit"
        aria-label="Add new contact"
        class="done-btn"
      >
        DONE
      </button>
    </mat-card-actions>
  </form>
</mat-card>
