<mat-card class="mat-card-wrapper">
  <mat-card-title class="text-center" i18n>Address Book</mat-card-title>
  <mat-card-content class="container">
    <table class="table table-trapped table-striped">
      <thead>
        <tr>
          <th scope="col" i18n >Name</th>
          <th scope="col" i18n>ZipCode</th>
          <th scope="col" i18n>Country</th>
          <th scope="col" i18n>Edit</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let address of this.service.addressBookObserver | async">
          <td>{{ address.name }}</td>
          <td>{{ address.zipCode }}</td>
          <td>{{ address.country }}</td>
          <td>
            <button class="edit-icon" mat-icon-button i18n-title title="Edit" (click)="showDetails(address)">
              <mat-icon>edit</mat-icon>
            </button>
          </td>
        </tr>
        <tr *ngIf="expanded"> <td colspan="3"><app-address-form [address]="address"></app-address-form></td></tr>
      </tbody>
    </table>
  </mat-card-content>
</mat-card>
