@import "styles/bootstrap_loader";
@import '~bootstrap/dist/css/bootstrap.min.css';

// icons from Material+Icons font
@import url("//fonts.googleapis.com/icon?family=Material+Icons");

@import "styles/common";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
