@import "styles/bootstrap_loader";

// we use the icons from Material+Icons font
@import url("//fonts.googleapis.com/icon?family=Material+Icons");

// Lato family font
@import url("//fonts.googleapis.com/css?family=Lato");

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
